.advantages__wrapper {
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 69px;
}

.advantages__title {
  margin:0;
  font-size: 60px;
  line-height: 100%;
  font-weight: 400;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: 230px;
  padding-left: 0;
  padding-top: 151px;
  padding-bottom: 57px;
}

.advantages__item:nth-child(2n) {
  width: 246px;
}

.advantages__item:nth-child(3n) {
  width: 248px;
}

.advantages__item:nth-child(4n) {
  width: 250px;
}

.advantages__description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
